body{
    font-family: 'Poppins',  sans-serif;    
    margin: 2%;
}
h4{
    font-size: 30px;
    font-weight: bold;
}

.imagine{
    padding-bottom: 20px;
}


    
.orange-color{
    font-size: 30px;
    color: orange;
    font-weight: bold;
}
section{
    display: flex;
    margin: 150px;
    padding-left: 5px;
    padding-right: 5px;
    


}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width:40% ;
    height:120% ;
    padding-left:10px ;
    padding-bottom:30px ;
    
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.about{
    color:orange;
    font-weight: bold; 
}
.about-me{
    background-image:url(images/background-about.png);
    background-color: khaki;
    background-repeat: no-repeat;
    background-position-x:left,top;
    padding-left: 130px;
    padding-right: 100px;
    padding-bottom: 60px;

    
}
.My-Recipe{

    
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    
}
h5{
    font-size: 30px;
    margin-top: 20px;
}


    



