body{
    font-family: 'Poppins',  sans-serif;    
    margin: 2%;
}
h4{
    font-size: 30px;
    font-weight: bold;
}

.imagine{
    padding-bottom: 20px;
}


    
.orange-color{
    font-size: 30px;
    color: orange;
    font-weight: bold;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width:50% ;
    padding-left:10px ;
    padding-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.about{
    color:orange;
    font-weight: bold; 
}